{% extends  'base.html' %}

{% block head %} {{ super() }}  {% endblock %}

{% block title %} Account User {% endblock %}

{% block logo %} <h3>< User Account ></h3>{% endblock %}

{% block header %} {{ super() }}  {% endblock %} 
{% block nav %} {{ super() }} {% endblock %} 

{% block container_row %}
     <!-- account page -->
        <div class="account-page">  
            <div class="container"> 
                <div class="row">
                    <div class="col-2">
                    
                        <img src=" {{ url_for('static', filename='library/images/banner_white.jpg') }}" alt="">

                    </div>

                    <div class="col-2">
                        
                        <div class="form-container">

                            <div class="form-btn">
                                <span onclick="login()">Login</span>
                                <span onclick="register()">Register</span>
                                <hr id="Indicator">
                            </div>

                            <!-- LOGIN     -->
                            <form action="{{ url_for('__action_login')}}" id="loginForm" method="post">

                                <input type="email" name="email" placeholder="E-mail">
                                <input type="password" name="password" placeholder="Password">

                                <button type="submit" class="btn">Login</button>
                                <a href="#">Forgot password</a>

                            </form>

                            <!-- REGISTER     -->
                            <form action="{{ url_for('__action_register')}}" id="registerForm" method="post">

                                <input type="email" name="name" placeholder="Username">
                                <input type="email" name="email" placeholder="Email">
                                <input type="password" name="password" placeholder="Password">

                                <button type="submit" class="btn">Register</button>
                            
                            </form>


                        </div>

                    </div>
                </div>

            </div>
        </div>

<script src="{{ url_for('static', filename='library/js/account.js')}}" ></script>
{% endblock %}