{% extends  'base.html' %}

{% block head %} {{ super() }}  {% endblock %}

{% block title %} Session User {% endblock %}

{% block logo %} <h3>< User Logado ></h3>{% endblock %}

{% block header %} {{ super() }}  {% endblock %} 

{% block nav %} {{ super() }} {% endblock %} 

{% block container_row %}{% endblock %}

    {% block addvaccine %}

    <style type="text/css"> 
        .input-field {  border: none; width: 250px; height: 35px; border: 1px solid #dbdbdb;
                        border-radius: 4px; padding-left: .7rem; outline: none;  }
        button { width: 90px; height: 35px; border-radius: .5rem; cursor: pointer; color: darkblue;
            font-weight: 500;  }

    </style>


    <div style="margin-top:2rem">

        <h1>Register Vaccine</h1>

        <form action="{{ url_for('__add_vaccine') }}" method="POST">

            <label>Name:</label>
            <input type="text" name="name" value="{{ rows[1] }}" class="input-field" required>

            <label>Date:</label>
            <input type="text" name="date" class="input-field" placeholder="(dd mm yyyy)" required >

             <label>Lote:</label>
            <input type="text" name="batch" class="input-field" required >

            <button type="submit"> Add Vaccine</button>
         
        </form>  

    </div>
    {% endblock %}