{% extends 'base.html' %}
{% block title %}
    Register Page Vaccine
{% endblock %}

{% block content %}

<style type="text/css"> 
        .input-field {  border: none; width: 250px; height: 35px; border: 1px solid #dbdbdb;
                        border-radius: 4px; padding-left: .7rem; outline: none;  }
        button {
            width: 90px;
            height: 35px;
            border-radius: .5rem;
            cursor: pointer;
            color: darkblue;
            font-weight: 500;

        }

    </style>


    <div style="margin-top:2rem">

        <h1>Cadastre sua vacina</h1>

        <form action="{{url_for('addvaccine')}}" method="POST">

            <label>Name:</label>
            <input type="text" name="id" value="{{item[0]}}">
            <input type="text" name="name" value="{{item[1]}}" class="input-field" required>

            <label>Date:</label>
            <input type="text" name="date" class="input-field" placeholder="(dd mm yyyy)" required >

             <label>Lote:</label>
            <input type="text" name="batch" class="input-field" required >

            <button type="submit"> Add Vaccine</button>
         
        </form>  

    </div>

    <!-- brands -->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="{{ url_for('static', filename='library/images/biontech.jpg') }}" alt="">
                </div>

                <div class="col-5">
                    <img src="{{ url_for('static', filename='library/images/oxford.png')}}" alt="">
                </div>

                <div class="col-5">
                    <img src="{{ url_for('static', filename='library/images/janssen.jpg') }}" alt="">
                </div>

                <div class="col-5">
                    <img src="{{ url_for('static', filename='library/images/gama.jpg')}}" alt="">
                </div>

                <div class="col-5">
                    <img src="{{ url_for('static', filename='library/images/sinovac.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Faça Download do App</h3>
                    <p>Disponível para iphone e Android</p>
                    
                    <div class="app-logo">
                       
                    </div>

                </div>

                <div class="footer-col-2">
                  
                                 <p>Disponível para iphone e Android</p>
                </div>

                <div class="footer-col-3">
                   <h3>Links ùteis</h3>
                    <ul>
                        <li>Privacidade</li>
                        <li>Politica de dados</li>
                        <li>Cookis</li>
                        <li>Cupons de descontos</li>
                    </ul>
                </div>

                <div class="footer-col-4">
                    <h3>Redes sociais</h3>
                     <ul>
                         <li>Facebook</li>
                         <li>Twitter</li>
                         <li>Instagram</li>
                         <li>LInkedin</li>
                     </ul>
                 </div>

            </div>

            <hr>
            <p class="copyright">Copyright 2021 - Dev Isaque Menezes</p>
        </div>
    </div>


{% endblock %}