<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
         <link rel="stylesheet" href="{{ url_for('static', filename='library/css/main.css') }}">
          <link rel="stylesheet" href="{{ url_for('static', filename='library/css/style-table.css') }}">

    <title>
        {% block title %}

        {% endblock %}titlw
    </title>
</head>
<body>


     <div class="header">
        <div class="container"> 
            <div class="navbar">
                
                <div class="logo">
                    
                </div>

                <nav>
                    <ul id="menu-items">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/session">Session</a></li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>

           

            </div>

            
        </div>
        
    </div>

     <section>
            {% block content %}

             {% endblock %}
        </section>
       

        
        
        <div class="offer"> 
            {% block banner %}
            <div class="small-container">
                <div class="row">
                    
                    <div class="col-2">
                        <img src="{{url_for('static', filename='library/images/vaccine.jpg') }}" alt="" class="offer-img">
                    </div>

                    <div class="col-2">
                        <p>Campanha em Destaque </p>
                        <h1>Vacina contra Covid-19</h1>
                        <small>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet laudantium in, eos numquam itaque velit ducimus. Vel quam, dolores repellat eveniet nam laudantium rerum aut natus, quae suscipit alias aperiam.
                        </small>
                        <a href="" class="btn">+ Info &#8594;</a>

                    </div>

                </div>
            </div>{% endblock %}
        </div>  
        
       



</body>
</html>