<!doctype html>
<html lang="pt-br">
  <head>

    {% block head %}

      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{ url_for('static', filename='library/css/main.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='library/css/style-table.css') }}">

       <link rel="stylesheet" href="{{ url_for('static', filename='library/css/style-account.css') }}">

      <title>{% block title %}App System Vaccine | Home {% endblock %}</title>

    {% endblock %}

  </head>

  <body>

      <!-- header (One) -->
      <div class="header">

        {% block header %}
        <div class="container"> 
            <div class="navbar">


                <div class="logo">
                  {% block logo %}
                  {% endblock %} 
                </div>

                <nav>

                    {% block nav %}
                    <ul id="menu-items">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/account">Login</a></li>
                    </ul>
                    {% endblock %} 

                </nav>

            </div> 

            {% block container_row %}
            <div class="row"> 
              
                <div class="col-2"> 
                    <h1>System Vaccine <br> é um gerenciador online </h1>
                    <p>Organize seu <b>cartão de vacine</b> em um único lugar. Recebar <b>notificações</b> quando estiver campanhas do governo, ou quando tiver que tomar vacina em data específica.</p>
                    <p>
                    <br>Perfeito para você ter o <b>controle das vacinas</b> dos seus: filhos, pais, avôs.E porque, não do seu, melhor amigo, seu cachorro.</p>
                        
                    <a href="/session" class="btn">Explorar &#8594;</a>
                </div>

                <div class="col-2">
                   <img src=" {{ url_for('static', filename='library/images/banner_white.jpg') }}" alt="">
                </div>

            </div> 
             {% endblock %}  

        </div>
        {% endblock %}
         
      </div>

    <!-- Menu Interno (Two) Apenas Para page session_user.html -->
    <div class="small-container">

        {% block menu_interno %}
      
        {% endblock %}

    </div> 

    <!-- Jinja modelo para page register_notification.html -->
    <section style="margin-top: 1rem">

      {% block notification_page %}

      {% endblock %}

    </section> 

    <!-- Jinja modelo para page register_vaccine.html -->
    <section style="margin-top:1rem">

      {% block register_vaccine %}

      {% endblock %}

    </section>  

    <!-- Jinja modelo para page vaccine_show.html menu de vaccine user -->
    <section style="margin-top: 1rem">

      {% block vaccine_show %}

      {% endblock %}

    </section> 
    
    <!-- Campanhas banner (Three)  -->
    <div class="offer">

        {% block banner_off %}
        <div class="small-container">
            <div class="row">
                
                <div class="col-2">
                    <img src="{{url_for('static', filename='library/images/vaccine.jpg') }}" alt="" class="offer-img">
                </div>

                <div class="col-2">
                    <p>Campanha em Destaque </p>
                    <h2>Vacina contra Covid-19</h2>
                    <p style="margin-top:.8rem"><b>Sobre COVID-19</b></p>
                    <small>
                       A COVID-19 é uma doença infecciosa causada pelo novo coronavírus (SARS-CoV-2) e tem como principais sintomas febre, cansaço e tosse seca. Alguns pacientes podem apresentar dores, congestão nasal, dor de cabeça, conjuntivite, dor de garganta, diarreia, perda de paladar ou olfato, erupção cutânea na pele ou descoloração dos dedos das mãos ou dos pés. Esses sintomas geralmente são leves e começam gradualmente. Algumas pessoas são infectadas, mas apresentam apenas sintomas muito leves..
                    </small>
                    <a href="" class="btn">+ Info &#8594;</a>

                </div>

            </div>
        </div>
        {% endblock %}

    </div>

    <!-- Brands (Four)-->
    <div class="brands">

        {% block brands %}
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="{{ url_for('static', filename='library/images/biontech.jpg') }}" alt="">
                </div>

                <div class="col-5">
                    <img src="{{ url_for('static', filename='library/images/oxford.png')}}" alt="">
                </div>

                <div class="col-5">
                    <img src="{{ url_for('static', filename='library/images/janssen.jpg') }}" alt="">
                </div>

                <div class="col-5">
                    <img src="{{ url_for('static', filename='library/images/gama.jpg')}}" alt="">
                </div>

                <div class="col-5">
                    <img src="{{ url_for('static', filename='library/images/sinovac.jpg')}}" alt="">
                </div>
            </div>
        </div>
        {% endblock %}

    </div>

    

     <!-- footer ( Five )-->
    <div class="footer">

        {% block footer %}
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Faça Download do App</h3>
                    <p>Disponível para iphone e Android</p>
                    
                    <div class="app-logo">
                       
                    </div>

                </div>

                <div class="footer-col-2">
                    <p>Disponível para iphone e Android</p>
                </div>

                <div class="footer-col-3">
                   <h3>Links ùteis</h3>
                    <ul>
                        <li>Privacidade</li>
                        <li>Politica de dados</li>
                        <li>Cookis</li>
                        <li>Cupons de descontos</li>
                    </ul>
                </div>

                <div class="footer-col-4">
                    <h3>Redes sociais</h3>
                     <ul>
                         <li>Facebook</li>
                         <li>Twitter</li>
                         <li>Instagram</li>
                         <li>LInkedin</li>
                     </ul>
                 </div>

            </div>

            <hr>
            <p class="copyright">&copy;Copyright 2021 - Dev Isaque Menezes</p>
        </div>
        {% endblock %}

    </div>
    

  </body>
</html>