<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
         <link rel="stylesheet" href="{{ url_for('static', filename='library/css/main.css') }}">
          <link rel="stylesheet" href="{{ url_for('static', filename='library/css/style-table.css') }}">

    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>


     <div class="header">
        <div class="container"> 
            <div class="navbar">
                
                <div class="logo">
                    <img src="../../base_data/core_images/logos/1-3.png" alt="" width="125px">
                </div>

                <nav>
                    <ul id="menu-items">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/session">Session</a></li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>

                <img src="../../base_data/core_images/logos/icon-menu-white.png" alt="" class="menu-icon" onclick="menuToggle()">
              

            </div>

            
        </div>
        
    </div>

    <section>
        {% block content %}

        {% endblock %}
       
    </section>
   
</body>
</html>