{% extends  'base.html' %}

{% block head %} {{ super() }}  {% endblock %}

{% block title %} Session User {% endblock %}

{% block logo %} <h3>< User Logado ></h3>{% endblock %}

{% block header %} {{ super() }}  {% endblock %} 

{% block nav %} {{ super() }} {% endblock %} 

{% block container_row %}{% endblock %}

  
    
    {% block edit %}

        <h1>Editar Vacina</h1>

        <style type="text/css"> 
        .input-field {  border: none; width: 250px; height: 35px; border: 1px solid #dbdbdb;                border-radius: 4px; padding-left: .7rem; outline: none;  }
        button { width: 90px; height: 35px; border-radius: .5rem; cursor: pointer; color: darkblue;
                 font-weight: 500; }

        </style>


        <form action="{{url_for('__update')}}" method="POST">

            <label>Name:</label>
            <input type="hidden" name="id" value="{{row[0]}}">
            <input type="text" name="name" value="{{row[1]}}" class="input-field" required>

            <label>Date:</label>
            <input type="text" name="date" value="{{row[2]}}" class="input-field" placeholder="(dd mm yyyy)" required >

             <label>Lote:</label>
            <input type="text" name="batch" value="{{row[3]}}" class="input-field" required >

            <button type="submit">Enviar</button>
        
        </form>  

    {% endblock %}

    

