<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='library/css/main.css') }}">
    <title>App System Vaccine</title>
</head>
<body>


    <div class="header">
        <div class="container"> 
            <div class="navbar">
                
                <div class="logo">
                    
                </div>

                <nav>
                    <ul id="menu-items">
                        <li><a href="/home">Home</a></li>
                     	<li><a href="/session">Session</a></li>
                        <li><a href="/data_science">Database</a></li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>

                <img src="" alt="" class="menu-icon" onclick="menuToggle()">
              

            </div>

            <div class="row"> 
                <div class="col-2"> 
                    <h1>System Vaccine <br> é um gerenciador online </h1>
                    <p>Organize seu <b>cartão de vacine</b> em um único lugar. Recebar <b>notificações</b> quando estiver campanhas do governo, ou quando tiver que tomar vacina em data específica.
                    <br>Perfeito para você ter o <b>controle das vacinas</b> dos seus: filhos, pais, avôs.E porque, não do seu, melhor amigo, seu cachorro.</p>
                        <a href="/session" class="btn">Explorar &#8594;</a>
                </div>

                <div class="col-2">
                   <img src=" {{ url_for('static', filename='library/images/banner_white.jpg') }}" alt="">
                </div>

            </div>

        </div>
        
    </div>


   

   

    <!-- testimonial -->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <span class="fa fa-quote-left"></span>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolorum, et ut obcaecati quis aliquam deserunt nesciunt, atque, asperiores sapiente corporis odit odio modi! Dolor dicta qui vitae delectus possimus!</p>
                
                    <div class="rating">
                        <span class="fa fa-star"></span> 
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-half-o"></span>
                    </div>

                    <img src="../../base_data/core_images/peoples/Jessica.jpg" alt="">
                    <h3>Kakashi</h3>
                </div>

                <div class="col-3">
                    <span class="fa fa-quote-left"></span>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolorum, et ut obcaecati quis aliquam deserunt nesciunt, atque, asperiores sapiente corporis odit odio modi! Dolor dicta qui vitae delectus possimus!</p>
                
                    <div class="rating">
                        <span class="fa fa-star"></span> 
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-half-o"></span>
                    </div>

                    <img src="../../base_data/core_images/peoples/Jorge-Sebastiao.jpg" alt="">
                    <h3>Uchiha Itachi</h3>

                </div>

                <div class="col-3">
                    <span class="fa fa-quote-left"></span>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolorum, et ut obcaecati quis aliquam deserunt nesciunt, atque, asperiores sapiente corporis odit odio modi! Dolor dicta qui vitae delectus possimus!</p>
                
                    <div class="rating">
                        <span class="fa fa-star"></span> 
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-half-o"></span>
                    </div>

                    <img src="../../base_data/core_images/peoples/Lisa.jpg" alt="">
                    <h3>Uchiha Madara</h3>

                </div>
            </div>
        </div>
    </div>

    <!-- brands -->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="{{ url_for('static', filename='library/images/biontech.jpg') }}" alt="">
                </div>

                <div class="col-5">
                    <img src="{{ url_for('static', filename='library/images/oxford.png')}}" alt="">
                </div>

                <div class="col-5">
                    <img src="{{ url_for('static', filename='library/images/janssen.jpg') }}" alt="">
                </div>

                <div class="col-5">
                    <img src="{{ url_for('static', filename='library/images/gama.jpg')}}" alt="">
                </div>

                <div class="col-5">
                    <img src="{{ url_for('static', filename='library/images/sinovac.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Faça Download do App</h3>
                    <p>Disponível para iphone e Android</p>
                    
                    <div class="app-logo">
                        <img src="../../base_data/core_images/logos/google-play.png" alt="">
                        <img src="../../base_data/core_images/logos/googleApple.jpg" alt="">
                    </div>

                </div>

                <div class="footer-col-2">
                    <img src="../../base_data/core_images/logos/images.jpg" alt="">
                                 <p>Disponível para iphone e Android</p>
                </div>

                <div class="footer-col-3">
                   <h3>Links ùteis</h3>
                    <ul>
                        <li>Privacidade</li>
                        <li>Politica de dados</li>
                        <li>Cookis</li>
                        <li>Cupons de descontos</li>
                    </ul>
                </div>

                <div class="footer-col-4">
                    <h3>Redes sociais</h3>
                     <ul>
                         <li>Facebook</li>
                         <li>Twitter</li>
                         <li>Instagram</li>
                         <li>LInkedin</li>
                     </ul>
                 </div>

            </div>

            <hr>
            <p class="copyright">Copyright 2021 - Dev Isaque Menezes</p>
        </div>
    </div>

   
</body>
</html>