{% extends  'base.html' %}

{% block head %} {{ super() }}  {% endblock %}

{% block title %} Session User {% endblock %}

{% block logo %} <h3>< User Logado ></h3>{% endblock %}

{% block header %} {{ super() }}  {% endblock %} 

{% block nav %} {{ super() }} {% endblock %} 

{% block container_row %}{% endblock %}

{% block notification_page %}
    <h1 style="margin-bottom: 1rem; text-align:center;">&check; Your Notifications</h1>
        
        <table width="100%">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Date</td>
                    <td>Batch</td>
                    <td>Options</td>
                </tr>                
            </thead>

            <tbody>

                {% for item in query %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>                        
                    <td>
                        <style type="text/css">
                            .btn-info { width: 70px; height: 32px; border-radius: .3rem;margin-left: .5rem; cursor: pointer; padding: 1px; color: darkblue; font-weight: 500;
                                    }
                             .btn-info.del { background: #ff523b;    }
                                   
                            </style>
                        <button class="btn-info">+ Info </button>
                        <button class="btn-info del"><a href="/delnotfication/{{ item[0] }}">- Remove</a></button>
                             
                    </td>
                </tr>
                {% endfor %}
            
            </tbody>
            
        </table>
        
    </section>

    <section style="margin-top: 5rem;">

        <h2 style="margin-bottom: 1.5rem; text-align:center;">Cadastre Para ser Notificado</h2>
       
        <style type="text/css">input {width: 227px; height: 32px;} label {margin-left: 1rem;  } </style>
        
        <div class="content__form">

            <form action="{{ url_for('add_notification_method') }}" method="POST">
               
                <label>Email:</label>
                <input type="email" name="email" placeholder="E-mail" required>

                <label>Birth date:</label>
                <input type="text" name="date" placeholder="(dd/mm/yyyy)" required >

                <label>Phone:</label>
                <input type="text" name="phone" placeholder="+55 (dd) 9 xxxx-xxxx">

                <button class="btn-info" type="submit">Register</button>
                
            </form>
        </div>

{% endblock %}

