{% extends 'base.html' %}
{% block title %}
    Register Page Vaccine
{% endblock %}

{% block content %}

    <style type="text/css"> 
        .input-field {  border: none; width: 250px; height: 35px; border: 1px solid #dbdbdb;
                        border-radius: 4px; padding-left: .7rem; outline: none;  }
        button {width: 90px; height: 35px; border-radius: .5rem; cursor: pointer; color: darkblue;
            font-weight: 500;   }

    </style>
    <div style="margin-top:1rem">

        <h1>Update Vaccine</h1>

        <form action="{{url_for('update')}}" method="POST">

            <label>Name:</label>
            <input type="hidden" name="id" value="{{item[0]}}">
            <input type="text" name="name" value="{{item[1]}}" class="input-field" required>

            <label>Date:</label>
            <input type="text" name="date" value="{{item[2]}}" class="input-field" placeholder="(dd mm yyyy)" required >

             <label>Lote:</label>
            <input type="text" name="batch"value="{{item[3]}}" class="input-field" required >

            <button type="submit"> Add Vaccine</button>
          
        </form>  

    </div>

   

    <!-- Banner -->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                
                <div class="col-2">
                    <img src="{{url_for('static', filename='library/images/vaccine.jpg') }}" alt="" class="offer-img">
                </div>

                <div class="col-2">
                    <p>Campanha em Destaque </p>
                    <h1>Vacina contra Convid-19</h1>
                    <small>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet laudantium in, eos numquam itaque velit ducimus. Vel quam, dolores repellat eveniet nam laudantium rerum aut natus, quae suscipit alias aperiam.
                    </small>
                    <a href="" class="btn">+ Info &#8594;</a>

                </div>

            </div>
        </div>
    </div>

    <!-- brands -->
    

    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Faça Download do App</h3>
                    <p>Disponível para iphone e Android</p>
                    
                    <div class="app-logo">
                        <img src="../../base_data/core_images/logos/google-play.png" alt="">
                        <img src="../../base_data/core_images/logos/googleApple.jpg" alt="">
                    </div>

                </div>

                <div class="footer-col-2">
                    <img src="../../base_data/core_images/logos/images.jpg" alt="">
                                 <p>Disponível para iphone e Android</p>
                </div>

                <div class="footer-col-3">
                   <h3>Links ùteis</h3>
                    <ul>
                        <li>Privacidade</li>
                        <li>Política de dados</li>
                        <li>Cookes</li>
                        <li>Cupons de descontos</li>
                    </ul>
                </div>

                <div class="footer-col-4">
                    <h3>Redes sociais</h3>
                     <ul>
                         <li>Facebook</li>
                         <li>Twitter</li>
                         <li>Instagram</li>
                         <li>LInkedin</li>
                     </ul>
                 </div>

            </div>

            <hr>
            <p class="copyright">Copyright 2021 - Dev Isaque Menezes</p>
        </div>
    </div>

{% endblock %}